<nav class="navbar navbar-default" role="navigation">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="#">ng-news</a>
  </div>

  <!-- Collect the nav links, forms, and other content for toggling -->
  <div ng-controller="NavController" class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <form class="navbar-form navbar-left" role="search" ng-submit="submitPost()" ng-show="signedIn()">
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Title" ng-model="post.title">
      </div>
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Link" ng-model="post.url">
      </div>
      <button type="submit" class="btn btn-default">Submit</button>
    </form>
    <ul class="nav navbar-nav navbar-right">
      <li ng-show="signedIn()">
        <a ng-href="#/users/{{user.profile.username}}">
          <img ng-src="http://gravatar.com/avatar/{{user.profile.md5_hash}}" class="nav-pic" />
          {{user.profile.username}}
        </a>
      </li>
      <li ng-show="!signedIn()">
        <a ng-href="#/login">Login</a>
      </li>
      <li ng-show="!signedIn()">
        <a ng-href="#/register">Register</a>
      </li>
      <li ng-show="signedIn()">
        <a ng-href="#/" ng-click="logout()">Logout</a>
      </li>
    </ul>
  </div><!-- /.navbar-collapse -->
</nav>
