<div class="auth-forms">

  <h2>Log In</h2>

  <div class="alert alert-danger" ng-show="error">{{error}}</div>

  <form ng-submit="login()">
    <input type="email" ng-model="user.email" placeholder="Email" class="form-control"><br>
    <input type="password" ng-model="user.password" placeholder="Password" class="form-control"><br>
    <input type="submit" value="Log in" class="btn btn-primary" />
  </form>

</div>
