<div class="auth-forms">

  <h2>Register</h2>

  <div class="alert alert-danger" ng-show="error">{{error}}</div>

  <form ng-submit="register()">
    <input type="email" ng-model="user.email" placeholder="Email" class="form-control"><br>
    <input type="text" ng-model="user.username" placeholder="Username" class="form-control"><br>
    <input type="password" ng-model="user.password" placeholder="Password" class="form-control"><br>
    <input type="submit" value="Register" class="btn btn-primary" />
  </form>

</div>
